@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

svg {
  cursor: pointer;
}

a {
  outline: none;
  text-decoration-line: none;
  color: black;
}

button {
  outline: none;
}

details {
  list-style: decimal;
}

.front_btns {
  @apply py-2 px-5 space-y-0.5 rounded-md flex flex-col items-center cursor-pointer hover:shadow-md;
}
