@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

svg {
  cursor: pointer;
}

a {
  outline: none;
  text-decoration-line: none;
  color: black;
}

button {
  outline: none;
}

details {
  list-style: decimal;
}

.front_btns {
  @apply py-2 px-5 space-y-0.5 rounded-md flex flex-col items-center cursor-pointer hover:shadow-md;
}

.table_layout {
  @apply mx-auto w-[80%] h-full border-t border-solid border-[#444444] border-collapse dark:text-white text-xs sm:text-sm md:text-base;
}

.th_layout {
  @apply p-[10px] text-center border-b border-solid border-[#444444] text-white bg-blue-500 dark:bg-orange-500;
}

.td_layout {
  @apply p-[10px] text-center border-b border-solid border-[#444444];
}

.swiper {
  width: 50vw;
  height: 50vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  cursor: grab;
}

.td_names {
  width: 20%;
}

.home_swiper {
  width: 100%;
}

.home_swiper-slide {
  position: relative;
}
