@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: lightgray;
}

svg {
  cursor: pointer;
}

a {
  outline: none;
  text-decoration-line: none;
  color: black;
}

button {
  outline: none;
}
